/* CAROUSEL Full Screen Modal */
.modal.modal-fullscreen .modal-content {
    background: rgba(0, 0, 0, .5);
}
.modal.modal-fullscreen .modal-header {
    border: 0;
    color: #fff;
}
.modal.modal-fullscreen .modal-footer {
    border-color: rgba(0, 0, 0, .5);
}